---
---

@import "{{ site.theme }}";


#header nav li a{
  background-color: blue;
  }

.date {
  margin: 10px 0px;
}

.post h1 {
  margin: 0 0 20px;
}

.post {
  border-bottom: 2px solid #e8e8e8;

.read-more {
  border: 1px solid #ffcc00;
  padding: 5px;
  border-radius: 2px;
  color: white;
  background-color: #ffcc00;
}
